body {
  overflow-x: hidden;
}
/* nav {
  height: 10vh;
} */

section:first-of-type {
  min-height: 90vh;
}

.list-group {
  border-radius: 0;
}

.list-group-item.active {
  /* background: #000;
  border: 1px solid #000; */
}

nav.bg-dark {
  background: #404f6f !important;
}

.navbar-expand-lg .navbar-nav {
  width: 100%;
  justify-content: space-between;
}

.navbar-toggler {
  border: none;
  color: transparent;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.tab-content .tab-pane h2 {
  font-size: 30px;
  font-weight: 600;
  color: #404f6f;
  padding-right: 5px;
}

.tab-content .tab-pane a {
  color: #404f6f;
  text-decoration: none;
  font-weight: bold;
}

.card-body {
  display: flex;
  flex-direction: column;
  min-height: 240px;
}

@media (min-width: 534px) and (max-width: 768px) {
  .card-body {
    display: flex;
    flex-direction: column;
    min-height: 300px;
  }
}

.card-body .btn-container {
  margin-top: auto;
}
.btn-container{
  display: flex;
  justify-content: space-between;
}

.list-group-item.active {
  background: #404f6f;
  border-color: #404f6f;
  outline: #404f6f;
}

.btn-primary {
  background: #404f6f;
  border-color: #404f6f;
  border-radius: 0;
  min-width: 80px;
  outline: none;
}
.btn-primary:hover {
  background: #fff;
  color: #404f6f;
  border-color: #404f6f;
}

@media (max-width: 405px) {
  .display-3 {
    min-height: 95px;
  }
}
@media (min-width: 405.99) {
  .display-3 {
    min-height: auto;
  }
}

div.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.img-container img {
  width: auto;
  height: 170px;
  filter: grayscale(1);
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

div.img-container img:hover {
  opacity: 1;
  filter: grayscale(0);
}

.card {
  border-radius: 0;
  height: 100%;
}

.tag {
  font-size: 10px;
  padding: 4px 6px;
  border-radius: 3px;
  /* background: #d6d7d8; */
  background: #a9b0be;
  color: #fff;
  margin-right: 3px;
}
