* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  background: #202124;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

#container {
  display: inline-block;
}

input[type='time'] {
  padding: 7px 12px;
  border: 1px solid #fff;
  margin-left: 10px;
  font-size: 19px;
  max-width: 125px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 20px;
  display: flex;
  /* align-items: flex-end; */
  justify-content: space-between;
}
label span {
  display: inline-block;
  font-size: 23px;
  width: auto;
}

form {
  margin-top: 70px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

form input[type='text'] {
  display: block;
  padding: 7px 12px;
  border: 1px solid #fff;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
}
form input[type='submit'] {
  display: block;
  padding: 7px 12px;
  border: 1px solid #fff;
  font-size: 16px;
  margin-bottom: 15px;
}
