* {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  text-transform: uppercase;
  color: #fff;
}
button:focus {
  outline: none !important;
}

#quiz {
  width: 100%;
  height: 100vh;
  padding: 0px;
  background: #242423;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

@keyframes width-animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

#quiz::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 0%;
  background: #07c837;
}

#quiz.animate::before {
  animation: width-animation 7s linear infinite;
}

#quiz h2 {
  width: 100;
  font-size: 32px;
  padding: 0 10px;
  text-align: center;
  align-self: start;
  /* position: absolute; */
  margin-bottom: 30px;
  left: 0;
  right: 0;
  color: #fff;
}
@media (max-width: 700px) {
  #quiz h2 {
    font-size: 22px !important;
  }
}

#quiz button {
  border: none;
  border-radius: 0.1rem;
  color: #fff;
  background: #333533;
  transition: all 0.3s ease-in-out;
  border: 1px solid #333533;
  cursor: pointer;
}

#reset,
#create {
  position: absolute;
  bottom: 75px;
  width: 100px;
  margin-top: 7px;
  padding: 12px 20px;
}

.check {
  margin-bottom: 15px;
}

.answer {
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  width: 80vw !important;
  margin-bottom: 20px;
  padding: 10px 15px;
  display: block;
}

.answer-box {
  align-self: center;
}

.answer.true {
  background: #07c837 !important;
}

.answer.false {
  background: #e3272d !important;
}

.scoreFinal {
  position: absolute;
  bottom: 50px;
  right: 20px;
  font-size: 16px;
}

.scorePoint {
  position: absolute;
  bottom: 50px;
  left: 20px;
  font-size: 16px;
}

.starter {
  background: #242423;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}
.starter #create {
  z-index: 5;
}
.starter.hidden #create {
  z-index: -1;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.hidden {
  pointer-events: none;
  opacity: 0;
}

.answer.border {
  border: 1px solid #07c837 !important;
}
