@font-face {
  font-family: 'Prototype';
  src: url('../font/Prototype.ttf');
}

body {
  font-family: 'Prototype', Fallback, sans-serif;
}

h1.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 75px;
  margin-bottom: 30px;
}
.main-container {
  min-width: 940px;
  margin: 0 auto;
  padding: 40px 0;
}
.btn-box {
  padding-left: 10px;
}

/*create hexagon shape start*/
div.hexagon {
  display: inline-block;
  width: 100px;
  height: 120px;
  margin-bottom: -30px;
  position: relative;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hexagon .resource {
  position: absolute;
}
.hexagon .resource img {
  color: #fff;
  display: inline-block;
  text-align: center;
  width: 33px;
}

.hexagon img {
}

/* colors */

img.mars {
  /* background-color: #722808 !important; */
  fill: #722808;
  -webkit-print-color-adjust: exact;
}
img.water {
  /* background: #364988; */
  fill: #364988;
  -webkit-print-color-adjust: exact;
}
img.noctis {
  /* background: #9c9c9c; */
  fill: #9c9c9c;
  -webkit-print-color-adjust: exact;
}

/* color print optimization */
@media print {
  img.mars {
    /* background-color: #722808 !important; */
    fill: #722808;
    -webkit-print-color-adjust: exact;
  }
  img.water {
    /* background: #364988; */
    fill: #364988;
    -webkit-print-color-adjust: exact;
  }
  img.noctis {
    /* background: #9c9c9c; */
    fill: #9c9c9c;
    -webkit-print-color-adjust: exact;
  }
}

/* flexbox for hexagon rows */

.hex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* btn colors */

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #364988 !important;
  outline: #364988 !important;
  padding: 10px 15px;
  border-radius: 0;
  border: none;
  font-size: 18px;
}
.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited .btn-danger:focus {
  background-color: #722808 !important;
  outline: #722808 !important;
  padding: 10px 15px;
  border-radius: 0;
  border: none;
  font-size: 18px;
}
