* {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

#board {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
}
#card-list {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  background: #fff;
  z-index: 10;
}
#card-list.show {
  pointer-events: all;
  opacity: 1;
}
#board #card-list .card-container-small {
  width: 35px;
  height: 70px;
  cursor: pointer;
  margin: 5px;
  background: #fff;
}
#board #card-list .card-container-small:after {
  top: 10px;
  width: 10px;
  height: 10px;
  left: 30px;
  font-size: 10px;
}
#board #card-list .card-container-small:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  #board #card-list .card-container-small p:first-of-type {
    font-size: 16px;
    margin-bottom: 3px;
  }
  #board #card-list .card-container-small p:last-of-type {
    font-size: 17px;
  }
}

#table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-container {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.player-container .hand {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btns #remove {
  margin-right: 10px;
  margin-bottom: 10px;
}
.btns #add {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .player-container {
    width: 100%;
  }
}

.player-container h3 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 400;
}
.player-container p {
  text-align: center;
  margin-top: 5px;
  height: 20px;
}

#other-players {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#other-players .player-container {
  flex: 0 0 20%;
  border-right: 1px solid #000;
  padding: 10px;
}
#other-players .player-container h3 {
  font-size: 18px;
}
#other-players .player-container p {
  /* background: red; */
}
#draw-odds {
  height: 22px;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.card-container,
.card-container-small {
  width: 60px;
  height: 90px;
  align-items: center;
  background: #242423;
  border: 1px solid #242423;
  border-radius: 6px;
  margin-right: 5px;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card-container.active {
  cursor: pointer;
}

.card-container.active:hover {
  opacity: 0.7;
}
.card-container:after,
.card-container-small:after {
  position: absolute;
  top: 35px;
  left: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fff;
  content: '+';
  font-size: 20px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.card-container.active:after {
  opacity: 1;
}
.card-container:last-of-type {
  margin-right: 0;
}

.card-container.show::after {
  display: none;
}

.card-container.show {
  background: #fff;
}
.card-container.show.red p,
.card-container-small.red p {
  color: #f60002;
}
.card-container.show p,
.card-container-small p {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  margin-bottom: 0;
}
.card-container.show p:last-of-type,
.card-container-small p:last-of-type {
  font-size: 26px;
  margin: 0;
}

@media (max-width: 768px) {
  .card-container.show p {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .card-container.show p:last-of-type {
    font-size: 22px;
    margin: 0;
  }
}

button {
  cursor: pointer;
  padding: 10px 30px;
  border: 1px solid #242423;
  color: #242423;
  text-transform: uppercase;
  background: #fff;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10vh;
  border-radius: 3px;
}
button#run:hover {
  background: #242423;
  color: #fff;
}
