* {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

#board {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.player-container .hand {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 768px) {
  .player-container {
    width: 100%;
  }
}

.player-container h3 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}
.player-container p {
  text-align: center;
  margin-top: 5px;
  height: 20px;
}
#draw-odds {
  height: 22px;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.card-container {
  width: 50px;
  height: 80px;
  align-items: center;
  background: #242423;
  border: 1px solid #242423;
  border-radius: 6px;
  margin-right: 5px;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card-container:hover {
  opacity: 0.7;
}
.card-container:after {
  position: absolute;
  top: 30px;
  left: 15px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fff;
  content: '+';
  font-weight: bold;
  font-size: 22px;
  z-index: 1;
}
.card-container:last-of-type {
  margin-right: 0;
}

.card-container.show::after {
  display: none;
}

.card-container.show {
  background: #fff;
}
.card-container.show.red p {
  color: #f60002;
}
.card-container.show p {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  margin-bottom: 0;
}
.card-container.show p:last-of-type {
  font-size: 26px;
  margin: 0;
}

button#run {
  cursor: pointer;
  padding: 10px 30px;
  border: 2px solid #242423;
  color: #242423;
  text-transform: uppercase;
  background: #fff;
  transition: all 0.3s ease-in-out;
}
button#run:hover {
  background: #242423;
  color: #fff;
}
