* {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  text-transform: uppercase;
  color: #fff;
  box-sizing: border-box;
}
button:focus {
  outline: none !important;
}

#main {
  width: 100%;
  min-height: 100vh;
  padding: 0px;
  background: #242423;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

#sidebar {
  width: 30vw;
  min-height: 100vh;
  border-right: 2px solid #07c837;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebar h2 {
  padding: 0 10px;
  text-align: center;
  align-self: start;
  margin: 20px 0 20px 0;
  color: #fff;
}

#sidebar button {
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px 15px;
  display: block;
  background: #07c837;
  border: none;
}

#list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

#list .single {
  padding: 15px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

#list .single.show {
  opacity: 1;
}
