body {
  overflow-x: hidden;
}
/* nav {
  height: 10vh;
} */

section:first-of-type {
  min-height: 90vh;
}

.list-group {
  border-radius: 0;
}

.list-group-item.active {
  /* background: #000;
  border: 1px solid #000; */
}

nav.bg-dark {
  background: #404f6f !important;
}

.navbar-expand-lg .navbar-nav {
  width: 100%;
  justify-content: space-between;
}

.navbar-toggler {
  border: none;
  color: transparent;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.tab-content .tab-pane:first-letter {
  font-size: 30px;
  font-weight: 600;
  color: #404f6f;
  padding-right: 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  min-height: 230px;
}

@media (min-width: 534px) and (max-width: 768px) {
  .card-body {
    display: flex;
    flex-direction: column;
    min-height: 285px;
  }
}

.card-body .btn-container {
  margin-top: auto;
}

.list-group-item.active {
  background: #404f6f;
  border-color: #404f6f;
  outline: #404f6f;
}

.btn-primary {
  background: #404f6f;
  border-color: #404f6f;
  border-radius: 0;
  min-width: 80px;
  outline: none;
}
.btn-primary:hover {
  background: #fff;
  color: #404f6f;
  border-color: #404f6f;
}

@media (max-width: 600px) {
  .display-3 {
    min-height: 105px;
  }
}
@media (min-width: 601px) {
  .display-3 {
    min-height: 135px;
  }
}
@media (min-width: 1200px) {
  .display-3 {
    min-height: auto;
  }
}
