* {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  text-transform: uppercase;
  color: #fff;
  box-sizing: border-box;
}
button:focus {
  outline: none !important;
}

#quiz {
  width: 100%;
  height: 100vh;
  padding: 0px;
  background: #242423;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

@keyframes width-animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
#quiz .timer {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 5px;
  width: 0%;
  background: #07c837;
  animation: width-animation 12s linear infinite;
}

#winning-screen {
  background: #242423;
  /* transition: all 0.3s ease-in-out; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}
#winning-screen h1 p {
  text-align: center;
  line-height: 45px;
  font-size: 30px;
}
#winning-screen h1 span {
  text-align: center;
  line-height: 70px;
  font-size: 60px;
  color: #07c837;
  padding-bottom: 80px;
  display: block;
}

html body #quiz #winning-screen.bg {
  background: #242423 !important;
  opacity: 1 !important;
}

#quiz h2 {
  width: 100vw;
  font-size: 32px;
  padding: 0 10px;
  /* padding-left: 10px;
  padding-right: 10px; */
  text-align: center;
  align-self: start;
  /* position: absolute; */
  margin-bottom: 30px;
  color: #fff;
}
#quiz p {
  margin-top: -50px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  align-self: start;
  font-size: 20px;
  margin-bottom: 10px;
}

#quiz button {
  border: none;
  border-radius: 0.1rem;
  color: #fff;
  background: #333533;
  transition: all 0.3s ease-in-out;
  border: 1px solid #333533;
  cursor: pointer;
}

#next,
#create,
#restart {
  position: absolute;
  bottom: 50px;
  width: 100px;
  margin-top: 7px;
  padding: 12px 20px;
  transition: all 3s ease-in-out;
}
@keyframes flicker {
  0% {
    color: #fff;
  }
  33% {
    color: #07c837;
  }
  66% {
    color: #fff;
  }
  99% {
    color: #07c837;
  }
}

#quiz #create.loading {
  animation: flicker 3s ease-in-out;
  pointer-events: none;
}

.check {
  margin-bottom: 15px;
}

.answer {
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  width: 80vw !important;
  margin-bottom: 20px;
  padding: 10px 15px;
  display: block;
}

@media (max-width: 700px) {
  #quiz h2 {
    font-size: 23px !important;
  }
  #quiz p {
    font-size: 15px;
  }
  #quiz .answer {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  #quiz h2 {
    font-size: 21px !important;
  }
  #quiz p {
    font-size: 14px;
  }
  #quiz .answer {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  #quiz h2 {
    font-size: 20px !important;
  }
  #quiz p {
    font-size: 13px;
  }
  #quiz .answer {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  #quiz h2 {
    font-size: 18px !important;
  }
  #quiz p {
    font-size: 12px;
  }
  #quiz .answer {
    font-size: 13px;
  }
}
@media (max-width: 340px) {
  #quiz h2 {
    font-size: 17px !important;
  }
  #quiz p {
    font-size: 12px;
  }
  #quiz .answer {
    font-size: 13px;
  }
}

.boxes {
  position: relative;
}
.boxes:after {
  content: 'Error fetching data. Please try different configuration.';
  position: absolute;
  font-size: 15px;
  top: -100px;
  left: 20px;
  color: #e3272d;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.boxes.alert::after {
  top: -65px;
  opacity: 1;
}

.answer-box {
  align-self: center;
}

.answer.true {
  background: #07c837 !important;
}

.answer.false {
  background: #e3272d !important;
}

.scoreFinal {
  position: absolute;
  bottom: 50px;
  right: 20px;
  font-size: 16px;
}

.scorePoint {
  position: absolute;
  bottom: 50px;
  left: 20px;
  font-size: 16px;
  display: none;
}

.starter {
  background: #242423;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}
.starter #create {
  z-index: 5;
}
.starter.hidden #create {
  z-index: -1;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.hidden {
  pointer-events: none !important;
  opacity: 0 !important;
}

.answer.border {
  border: 1px solid #07c837 !important;
}

/* select styling */
.select {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px 20px;
}
.select-selected {
  background-color: DodgerBlue;
}
.select label {
  display: flex;
  align-items: center;
}
.select select {
  background: #333533;
  position: relative;
  padding: 5px 3px;
  border: 1px solid #fff;
}
.select select:after {
  position: absolute;
  content: '';
  z-index: 10;
}

@media (min-width: 440px) {
  .select select {
    width: 170px;
  }
  .select label {
    width: 220px;
    padding-right: 20px;
  }
}
@media (max-width: 439px) {
  .select select,
  .select label {
    width: 100%;
    margin-bottom: 10px;
  }
}
